:root {
  --primary-font: "Flamenco", system-ui;
  --secondary-font: "Faustina", system-ui;
  --bg-color: #fffcf6;
  --primary-color: #8a6715;
  --secondary-color: #474747;
  --max-content-width: 1280px;
  --content-heading-size: 2vw;
  --content-secondary-text-size: 1.1vw;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}

input::placeholder,
textarea::placeholder {
  opacity: 0.7;
}

/* content */
.content {
  max-width: 1280px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 50px auto 0;
}

.content-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: fit-content;
}

.content-heading {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: var(--content-heading-size);
  letter-spacing: 3px;
  text-align: center;
}

.content-item-body {
  width: 100%;
}
