.footer {
  width: 100%;
  padding: 50px 0;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--bg-color);
  font-family: var(--secondary-font);
  letter-spacing: 2px;
  gap: 25px;
  margin: 50px 0 0 0;
}

.footer ul {
  display: flex;
  margin: 0;
  column-gap: 20px;
}

.footer ul li {
  list-style-type: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  cursor: pointer;
}

.footer ul li a {
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
}

.footer .footer-location {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer .footer-location p {
  text-align: center;
  font-weight: 200;
}

.footer .footer-location p:nth-child(1) {
  font-size: 22px;
}

.footer .footer-location p:nth-child(2) {
  font-size: 16px;
}

.footer-contact-details {
  display: flex;
  font-size: 14px;
  gap: 100px;
}
